/* #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5vmax);
    overflow: hidden;
} */
.header {
    /* font-size: clamp(3rem, 10vw, 10rem); */
    width: 100%;
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%; */
    z-index: 3;
}
.logo {
    max-width: 100%;
    height: auto;
}
.welcome {
    width: 100%;
    color: white;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    /* position: absolute;
    left: 50%;
    top: 90%;
    translate: -50% -50%; */
    z-index: 3;
}
.skills {
    width: 80%;
}

.cobra {

}