/* #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5vmax);
    overflow: hidden;
} */
.header {
    /* font-size: clamp(3rem, 10vw, 10rem); */
    width: 100%;
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%; */
    z-index: 3;
}
.logo {
    width: 40%;
    height: auto;
}
.welcome {
    width: 100%;
    color: white;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    /* position: absolute;
    left: 50%;
    top: 90%;
    translate: -50% -50%; */
    z-index: 3;
}
.skills {
    width: 80%;
}

.skill-pill {
    background-color: #a897fc7e;
    color: #e794f8;
    font-weight: 500;
    height: 2.5rem;
}
.skill-pill img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.projects {
    position: relative;
    width: 100vw;
    height: 900px;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0rem clamp(1rem, 2vw, 3rem);
    }
    .welcome {
        padding: 0rem clamp(1rem, 2vw, 3rem);
    }
    .skills {
        width: 100%;
    }
    .logo {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
